# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Power BI local files
**/.pbi/localSettings.json
**/.pbi/cache.abf

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# VS Code
.vscode/

# Sensitive files
.env
*.secret